:root{
    --spacing: 1rem;
    /* background-color: tomato; */
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
    --color-bg: black;
    --color-fg: white;
   
}

@media (width > 600px){
    :root {
        font-size: 150%;
    }
}

body{
    padding: var(--spacing);
}


h1{
    font-size: 2rem;
    background-color: var(--color-bg);
    color: var(--color-fg);
    padding: 1rem;
    @media (width > 800px) {
        font-size: 6rem;
        line-height: 90%;
        padding: 2rem;
    }
}


p{
    margin-block-start: 2calc(2 * var(--spacing));
}