@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    /* --spacing: 1rem; */
    background-color: #0d0d0d;
    color: white;
    font-size: 115%;
    font-family: "Noto Sans", sans-serif;
}





/* HEADER */
h1{
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    @media (width > 500px) {
        font-size: 2rem;
        padding: 2rem;
    }
}

h2 {
    font-size: 1.2rem;
    padding-block-start: 5%;
    padding-block-end: 10%;
    text-align: center;
}

ol {
  text-align: center;
  padding-block-end: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

li {
    /* block-size: 2rem; */
    /* padding: 3%; */
    font-weight: 200;
    font-size: 0.9rem;
    width: 6rem;
}

.blue {
    background-color: #0171e3;
    padding-inline: 6%;
    padding-block: 2%;
    /* from the class website; border radius*/
    border-radius: 1rem;

}

.stroke {
    color: #0171e3;
    border-color: #0171e3;
    border-style: solid;
    padding-inline: 6%;
    padding-block: 2%;
    border-width: 0.1rem;
    border-radius: 1rem;
}

.bar {
    text-align: center;
    background-color: #181818;
    opacity: 50%;
    padding-block: 5%;
    /* need to add extra class for the article link to make sticky */
}







/* PARAGRAPHS */
.apple {
    background-color: #282828;
    padding: 7%;
    margin: 7%;
    font-weight: 300;
}


p{
    margin-block-start: 2calc(2 * var(--spacing));

}






@media (width > 375px){
    :root {
        font-size: 150%;
    }
}

